.card_sneaker{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
 
}
.picture_sneaker{
    height: 200px;
    width: 300px;
}
.name_sneaker{
   font-size: 20px;
    
}
.price_sneaker{
    font-size: 20px;
    padding-left: 10px;
}
.align_info{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}