.slider {
    padding-top: 30px;
    display: flex;
    position: relative;
    
}
.slider:focus {
    outline: none !important;
    border: 0;
}

.carousel_picture {
    display: flex;
    justify-content: center;
    height: 8%;
    width: 50%;
    border-radius: 10px;
    outline : none;
    border : 0;

}
.picture_center{
    display:flex;
    justify-content: center;
}


.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    display: flex;
    justify-content: flex-end;
    padding-left: 5%;
    width: 60%;
    height: 10%;
    opacity: 1;
    transition-duration: 1s ease;
    transform: scale(1.08);
    user-select: none;
}
