.container-info {
    background-color: antiquewhite;
    padding-left: 10px;
    width: 50%;
}

.container_header_info {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.info {
    font-size: 40px;
}

.marque {
    font-size: 40px;
}