.container-info {
    background-color: antiquewhite;
    padding-left: 10px;
    width: 50%;
    position: relative;
}

.container_header_info {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container_footer_info {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 90%;
}

.info {
    font-size: 40px;
}

.marque {
    font-size: 40px;
}